<h1>Books</h1>


<% @lists.each do |list| %>
<p>title</p>
 <span><%= list.title %></span>

<p>body</p>
 <span><%= list.body %></span>

 <span><%= link_to "Show", "/lists/#{list.id}" %>
 </span>
 
  <span><%= link_to "Edit", "/lists/#{list.id}/edit" %>
 </span>
 
  <%= link_to "Destroy", "/lists/#{list.id}", method: :delete, "data-confirm" =>"Are you sure?" %>

 
 
 <% end %>
 <h2>New book</h2>
 
 <% if @list.errors.any? %>
  <%= @list.errors.count %>件のエラーが発生しました
  <ul>
    <% @list.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  
<% end %>
<%= form_with model: @list do |f| %>

 <p>title</p>
  <%= f.text_field :title %>
 <p>body</p>
  <%= f.text_area :body %>

  <%= f.submit 'create book' %>

<% end %>
